/* * {
    box-sizing: border-box;
} */

body {
    background: #05001a;
    margin: 2%;
    color: #FFFFFF;
}

/* .card {
    height: 400px;
    width: 400px;
    background: radial-gradient(57.28% 55.37% at 18.41% 50%, #1E43A8 22.71%, rgba(61, 93, 205, 0.43) 100%);
} */

.col {
    /* height: 400px;
    width: 400px; */
    border-radius: 2rm;
    background: radial-gradient(57.28% 55.37% at 18.41% 50%, #1E43A8 22.71%, rgba(61, 93, 205, 0.43) 100%);
}

table {
    background: radial-gradient(57.28% 55.37% at 18.41% 50%, #1E43A8 22.71%, rgba(61, 93, 205, 0.43) 100%);
}

/* .container-fluid {
    background: radial-gradient(57.28% 55.37% at 18.41% 50%, #1E43A8 22.71%, rgba(61, 93, 205, 0.43) 100%);
} */